@model Project_4.Models.BudgetItem

@{
    ViewBag.Title = "Delete";
}



<div class="row" style="padding:40px">
    <div class="col-md-8">
        <h2>Delete BudgetItem??</h2>
        <div>
            
            <hr />
            <dl class="dl-horizontal">
                <dt>
                  Created By:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Budget.Owner.FullName)
                </dd>

                <dt>
                    BudgetItem:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                   Description:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                   Target Amount:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TargetAmount)
                </dd>

                <dt>
                  Current Amount:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CurrentAmount)
                </dd>

                <dt>
                    Created:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>

                <dt>
                    Updated:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Updated)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-actions no-color" style=" padding-left:90px">
            <input type="submit" value="Delete" class="btn btn-danger" /> |    <span class="btn btn-default">@Html.ActionLink("Cancel", "Index")</span>

        </div>
            }
        </div>

    </div>
</div>

       

     
      
