@model IEnumerable<Project_4.Models.Household>
@using Microsoft.AspNet.Identity;
@using Project_4.Models;
@using Project_4.Helpers

@{
   
    var currentUserId = HttpContext.Current.User.Identity.GetUserId();
    ApplicationDbContext db = new ApplicationDbContext();
    var currentUser = db.Users.Find(currentUserId);
    HouseholdHelper householdHelper = new HouseholdHelper();
}

<!-- Main Menu area start-->
<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs custom-menu-wrap">

                    <li class="active">
                        <a href="@Url.Action("Dashboard","Households")"><span class="fl2"><i class="fa fa-home"></i></span></a>
                    </li>
                   
                        <li>
                            <a data-toggle="tab" href="#member">Members</a>
                        </li>

                    

                    <li>
                        <a data-toggle="tab" href="#bankAccount">BankAccounts</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#budget">Budgets</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#budgetItem">BudgetItems</a>
                    </li>

                </ul>
                <div class="tab-content custom-menu-content">
                    <div id="home" class="tab-pane in active tab-custon-menu-bg animated flipInX">
                        <ul class="main-menu-dropdown">
                            @foreach (var item in Model)
                            {
                                if (currentUser.HouseholdId == item.Id)
                                {
                                    <li>
                                        <a href="#"><span class="fl1">@item.Greeting</span></a>

                                    </li>

                                }

                            }

                        </ul>
                    </div>
                    <div id="member" class="tab-pane tab-custon-menu-bg animated flipInX">
                        <ul class="main-menu-dropdown">
                            @if (User.IsInRole("HouseholdHead"))
                            {
                                <li>
                                    <a href="@Url.Action("Create", "Invitations")">Invite Member</a>

                                </li>

                                <li>
                                    <a class="Warning Warning-color mg-b-10" href="#" data-toggle="modal" data-target="#removeMember">Remove Member</a>
                                </li>
                            }
                                <li>
                                    @foreach (var item in Model)
                                    {
                                        if (currentUser.HouseholdId == item.Id)
                                        {
                                            <a href="@Url.Action("Details", "Households", new { id = item.Id})">All Members</a>

                                        }
                                    }
                                </li>

                            </ul>
                    </div>
                    <div id="bankAccount" class="tab-pane tab-custon-menu-bg animated flipInX">
                        <ul class="main-menu-dropdown">
                            <li>
                                <a href="@Url.Action("Index", "BankAccounts")">MyAccounts</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create","BankAccounts")">Create New Account</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Transactions", new { myTransactions = "True" })">My Transactions</a>
                            </li>
                           
                           

                        </ul>
                    </div>
                    <div id="budget" class="tab-pane tab-custon-menu-bg animated flipInX">
                        <ul class="main-menu-dropdown">
                            <li>
                                <a href="@Url.Action("Index", "Budgets")">All Categories</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Budgets")">Add New Category</a>
                            </li>


                        </ul>
                    </div>
                    <div id="budgetItem" class="tab-pane tab-custon-menu-bg animated flipInX">
                        <ul class="main-menu-dropdown">

                            <li>
                                <a href="@Url.Action("Index", "BudgetItems")">All BudgetItems</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "BudgetItems")">Create BudgetItem</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Menu area End-->

<div class="breadcome-area mg-t-40 mg-b-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcome-list shadow-reset">
                    <div class="breadcome-heading">
                        @foreach (var item in Model)
                        {
                            if (currentUser.HouseholdId == item.Id)
                            {

                                <h1 class="text-left fl2">

                                    <a href="@Url.Action("Details", "Households", new { id = item.Id})"><i class="fa fa-eye"></i> <span class="fl2">See Details of My Household</span></a>
                                </h1>


                            }

                        }

                    </div>
                    <ul class="breadcome-menu">
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>


<div class="charts-area mg-t-40 mg-b-40">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="charts-single-pro shadow-reset">
                    <div class="alert-title">
                        <h2>BankAccount Bar Chart Stacked</h2>
                        <p>Quick Overview of Your BankAccount's StartingBalance(SB), CurrentBalance(CB) and LowBalanceThreshold(LBT).</p>
                    </div>
                    <div id="bar5-chart">
                        <canvas id="barchart5"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="removeMember" class="modal modal-adminpro-general Customwidth-popup-WarningModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-color-modal bg-color-3">
                <h4 class="modal-title">Remove Member</h4>
                <div class="modal-close-area modal-close-df">
                    <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                </div>
            </div>
            <div class="modal-body">
                <h5>Select a member you wish to remove from your Household!</h5>
                <h6> <span><i class="fa fa-warning"></i></span>You cannot undo the changes that occurs!</h6>

                <div class="row">
                    <div class="col-md-12">
                        @foreach (var item in Model)
                        {
                            if (currentUser.HouseholdId == item.Id)
                            {
                                @Html.Partial("_RemoveMemberPartial", item);
                            }
                        }


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" href="#">Cancel</a>

            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/bar-chart.js"></script>
    <script>


    /*  5.  Bar Chart Stacked
    /*----------------------------------------*/



          $(function () {
            var url = '@Url.Action("BarChartData","BarCharts")';
              $.post(url).then(function (response) {

	            var ctx = $("#barchart5");
                  var barchart5 = new Chart(ctx, {
                      type: 'bar',
                      data: {
                          labels: response.Labels,
                          datasets: [{
                              label: response.BarLabel1,
                              data: response.Data1,
                              backgroundColor: response.BGColor1
                          },
                          {
                              label: response.BarLabel2,
                              data: response.Data2,
                              backgroundColor: response.BGColor2
                          },
                          {
                              label: response.BarLabel3,
                              data: response.Data3,
                              backgroundColor: response.BGColor3
                          }]
                      },
		            options: {
			            title:{
				            display:true,
				            text:"Bar Chart Stacked"
                        },
                        intersect: false,
                        tooltips: {
                            enabled: true,
                            mode: 'single',
                            callbacks: {
                                label: function (tooltipItems, data) {
                                    return '$' + tooltipItems.yLabel;
                                }
                            }

			            },
			            responsive: true,
			            scales: {
				            xAxes: [{
					            stacked: true,
				            }],
				            yAxes: [{
                                stacked: true,
                                ticks: {
                                    callback: function (value, index, values) {
                                        return '$' + value;
                                    }
                                }
				            }]
			            }
		            }
	            });


            });
        });


    </script>
}
