@model Project_4.Models.Household
@using Project_4.Helpers;
@{
    ViewBag.Title = "Details";
    var houseHelper = new HouseholdHelper();
}

    <div class="row">
        <div>

        </div>

    </div>
<div class="feed-mesage-project-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="sparkline11-list shadow-reset mg-tb-30">
                    <div class="sparkline11-hd">
                        <div class="main-sparkline11-hd">
                            <h4>@Model.Greeting</h4>
                            <div class="sparkline11-outline-icon">
                                <span class="sparkline11-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline11-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline11-graph dashone-comment dashtwo-comment comment-scrollbar">
                        @foreach (var user in Model.Owner)
                        {
                            <div class="daily-feed-list">
                                <div class="daily-feed-img">
                                    <a href="#">
                                        <img src="@user.AvatarPath" alt="" />
                                    </a>
                                </div>
                                <div class="daily-feed-content">
                                    <h4><i class="fa fa-info-circle"></i> <span>@user.FullName</span></h4>
                                    <p> <i class="fa fa-envelope"></i>  <span>@user.UserName</span></p>
                                    <p> <i class="fa fa-bank"></i> <span>BankAccounts: @user.BankAccounts.Count()</span></p>

                                </div>
                            </div>



                            <div class="clear"></div>
                        }


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
    <div class="income-dashone-total shadow-reset nt-mg-b-30 res-mg-t-30">
        <div class="income-title">
            <div class="main-income-head">
                <h2>Income</h2>
                <div class="main-income-phara">
                    <p>Monthly</p>
                </div>
            </div>
        </div>
        <div class="income-dashone-pro">
            <div class="income-rate-total">
                <div class="price-adminpro-rate">
                    <h3><span>$</span><span class="counter">6,08,88,200</span></h3>
                </div>
                <div class="price-graph">
                    <span id="sparkline1"></span>
                </div>
            </div>
            <div class="income-range">
                <p>Total income</p>
                <span class="income-percentange">98% <i class="fa fa-bolt"></i></span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="income-dashone-total shadow-reset nt-mg-b-30">
        <div class="income-title">
            <div class="main-income-head">
                <h2>Orders</h2>
                <div class="main-income-phara order-cl">
                    <p>Annual</p>
                </div>
            </div>
        </div>
        <div class="income-dashone-pro">
            <div class="income-rate-total">
                <div class="price-adminpro-rate">
                    <h3><span class="counter">7,23,20</span></h3>
                </div>
                <div class="price-graph">
                    <span id="sparkline6"></span>
                </div>
            </div>
            <div class="income-range order-cl">
                <p>New Orders</p>
                <span class="income-percentange">66% <i class="fa fa-level-up"></i></span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="income-dashone-total shadow-reset nt-mg-b-30">
        <div class="income-title">
            <div class="main-income-head">
                <h2>Visitor</h2>
                <div class="main-income-phara visitor-cl">
                    <p>Today</p>
                </div>
            </div>
        </div>
        <div class="income-dashone-pro">
            <div class="income-rate-total">
                <div class="price-adminpro-rate">
                    <h3><span class="counter">8,88,200</span></h3>
                </div>
                <div class="price-graph">
                    <span id="sparkline2"></span>
                </div>
            </div>
            <div class="income-range visitor-cl">
                <p>New Visitor</p>
                <span class="income-percentange">55% <i class="fa fa-level-up"></i></span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="income-dashone-total shadow-reset nt-mg-b-30">
        <div class="income-title">
            <div class="main-income-head">
                <h2>User activity</h2>
                <div class="main-income-phara low-value-cl">
                    <p>Low Value</p>
                </div>
            </div>
        </div>
        <div class="income-dashone-pro">
            <div class="income-rate-total">
                <div class="price-adminpro-rate">
                    <h3><span class="counter">88,200</span></h3>
                </div>
                <div class="price-graph">
                    <span id="sparkline5"></span>
                </div>
            </div>
            <div class="income-range low-value-cl">
                <p>In first month</p>
                <span class="income-percentange">33% <i class="fa fa-level-down"></i></span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>











