@model Project_4.Models.WizardViewModel
    @{ 
        Layout = null;
    }

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />


    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.jpg">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!--     Fonts and icons     -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">

    <!-- CSS Files -->
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Contents/gsdk-bootstrap-wizard.css" rel="stylesheet" />
    <link href="~/Contents/style.css" rel="stylesheet" />
</head>

<body>
    <div class="image-container mg-t-50">

        <!--   Big container   -->
        <div class="container" style="padding:0px 30px 50px 30px">
            <div class="row">
                <h4 class="text-center mg-b-10">
                    You have successfuly created a Household. Next step is to setup your Household..
                </h4>
                <div class="col-sm-offset-2 col-sm-8">


                    <!--      Wizard container        -->
                    <div class="wizard-container" style="padding-top:0px">

                        <div class="card wizard-card" data-color="orange" id="wizardProfile">
                            @using (Html.BeginForm("Setup", "Households", FormMethod.Post, new{ @role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                             
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="wizard-header">
                                    <h3>
                                        <b>Set Up</b> Your Household <br>
                                        <small class="fs3">The steps below enable you to be able to make a transaction.</small>
                                    </h3>
                                </div>

                                <div class="wizard-navigation">
                                    <ul class="
                                        nav-pills">
                                        <li>
                                            <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                                                1.  Bank Account
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#account" data-toggle="tab" role="tab">
                                                2. Budgets
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#address" data-toggle="tab" role="tab">
                                                3. BudgetItems
                                            </a>
                                        </li>

                                    </ul>

                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="about">
                                        <h6 class="text-center">Add A Bank Account</h6>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                                            @Html.LabelFor(m => m.BankAccount.Name, "Account Name", new { @class = "login2 pull-right pull-right-pro"})

                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                                            @Html.EditorFor(model => model.BankAccount.Name, new { htmlAttributes = new { @class = "form-control", required = "true", placeholder = "eg.Bank Of America"  } })
                                                            @Html.ValidationMessageFor(model => model.BankAccount.Name, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                                            @Html.LabelFor(m => m.BankAccount.AccountType, new { @class = "login2 pull-right pull-right-pro" })

                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                                            @Html.EnumDropDownListFor(model => model.BankAccount.AccountType, htmlAttributes: new { @class = "form-control",  required = "true"  })
                                                           

                                                            @Html.ValidationMessageFor(model => model.BankAccount.AccountType, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                                            @Html.LabelFor(m => m.BankAccount.StartingBalance, new { @class = "login2 pull-right pull-right-pro" })

                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                                            @Html.EditorFor(model => model.BankAccount.StartingBalance, new { htmlAttributes = new { @class = "form-control", required = "true" , placeholder = "eg.10000"  } })
                                                            @Html.ValidationMessageFor(model => model.BankAccount.StartingBalance, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                                            @Html.LabelFor(m => m.BankAccount.LowBalanceThreshold,"Alert level", new { @class = "login2 pull-right pull-right-pro " })

                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                                            @Html.EditorFor(model => model.BankAccount.LowBalanceThreshold, new { htmlAttributes = new { @class = "form-control", required = "true" , placeholder = "eg.100" } })
                                                            @Html.ValidationMessageFor(model => model.BankAccount.LowBalanceThreshold, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>







                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="account">
                                        <h6 class="text-center mg-b-20">
                                            Create budget category and estimate budget for the same.
                                        </h6>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                                            @Html.LabelFor(m => m.Budget.Name, "Budget Category", new { @class = "login2 pull-right pull-right-pro" })

                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                                            @Html.EditorFor(model => model.Budget.Name, new { htmlAttributes = new { @class = "form-control" , placeholder = "eg. Utilities"  } })
                                                            @Html.ValidationMessageFor(model => model.Budget.Name, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                                            @Html.LabelFor(m => m.Budget.TargetAmount,"Target Montly Spend", new { @class = "login2 pull-right pull-right-pro" })

                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                                            @Html.EditorFor(model => model.Budget.TargetAmount, new { htmlAttributes = new { @class = "form-control" , placeholder = "eg.200" } })
                                                            @Html.ValidationMessageFor(model => model.Budget.TargetAmount, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="address">
                                        <h6 class="text-center">Create BudgetItem</h6>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                                            @Html.LabelFor(m => m.BudgetItem.Name, new { @class = "login2 pull-right pull-right-pro" })

                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                                            @Html.EditorFor(model => model.BudgetItem.Name, new { htmlAttributes = new { @class = "form-control" , placeholder = "eg.Electricity Bills"  } })
                                                            @Html.ValidationMessageFor(model => model.BudgetItem.Name, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                                            @Html.LabelFor(m => m.BudgetItem.TargetAmount,"Target Monthly Spend",new { @class = "login2 pull-right pull-right-pro" })

                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                                            @Html.EditorFor(model => model.BudgetItem.TargetAmount, new { htmlAttributes = new { @class = "form-control" , placeholder = "eg.100" } })
                                                            @Html.ValidationMessageFor(model => model.BudgetItem.TargetAmount, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="wizard-footer height-wizard">
                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
                                    </div>
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='next' value='Next' />
                                        <input type='submit' class='btn btn-finish btn-fill btn-warning btn-wd btn-sm' name='finish' value='Finish' />

                                    </div>

                                    <div class="clearfix"></div>
                                </div>


                            }
                        </div>
                    </div> <!-- wizard container -->
                </div>
            </div><!-- end row -->
        </div> <!--  big container -->


    </div>
    <!--   Core JS Files   -->

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>


    <script src="~/Css/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.bootstrap.wizard.js"></script>

    <!--  Plugin for the Wizard -->
    <script src="~/Scripts/gsdk-bootstrap-wizard.js"></script>

    <script src="~/Css/jquery.validate.min.js"></script>





    </body>



</html>


