@model Project_4.Models.ChangePasswordViewModel


@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { style = "width:90%;" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group-inner">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                @Html.LabelFor(m => m.OldPassword, new { @class = "login2 pull-right pull-right-pro" })

            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })

            </div>
        </div>
    </div>
    <div class="form-group-inner">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                @Html.LabelFor(m => m.NewPassword, new { @class = "login2 pull-right pull-right-pro" })

            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

            </div>
        </div>
    </div>
    <div class="form-group-inner">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "login2 pull-right pull-right-pro" })

            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"></div>

        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
            <div class="login-horizental cancel-wp pull-left">

                <button class="btn btn-danger" type="submit">Reset</button>

            </div>
        </div>

    </div>




}




