@using Project_4.Models;
@using Project_4.Helpers;  


<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.jpg">
    <!-- Google Fonts
        ============================================ -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->

    <link href="~/Contents/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS
        ============================================ -->
    <link href="~/Contents/font-awesome.min.css" rel="stylesheet" />
    <!-- adminpro icon CSS
        ============================================ -->
    <link href="~/Contents/adminpro-custon-icon.css" rel="stylesheet" />
    <!-- meanmenu icon CSS
        ============================================ -->
    <link href="~/Contents/meanmenu.min.css" rel="stylesheet" />
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link href="~/Contents/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- animate CSS
        ============================================ -->
    <link href="~/Contents/animate.css" rel="stylesheet" />
    <!-- normalize CSS
        ============================================ -->

    <link href="~/Contents/normalize.css" rel="stylesheet" />
    <!-- charts CSS
        ============================================ -->

    <link href="~/Contents/c3.min.css" rel="stylesheet" />
    <!-- style CSS
        ============================================ -->
    <link href="~/Contents/style.css" rel="stylesheet" />
    <!-- responsive CSS
        ============================================ -->

    <link href="~/Contents/responsive.css" rel="stylesheet" />
    <!-- modernizr JS
        ============================================ -->
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!-- Header top area start-->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="admin-logo">
                        <a href="#">
                            <img src="~/Images/pig2.png" class="img-circle" width="40" alt="" />
                            <span class="h5">𝖋𝖎𝖓𝖆𝖓𝖈𝖎𝖆𝖑 𝖕𝖔𝖗𝖙𝖆𝖑</span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-7 col-md-5 col-sm-0 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav mai-top-nav">
                            <li class="nav-item">
                                <a href="@Url.Action("Dashboard","Home")" class="nav-link">Dashboard</a>
                            </li>
                           
                          
                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">My Household<span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span></a>
                                <div role="menu" class="dropdown-menu animated flipInX">
                                    <a href="@Url.Action("Create", "Invitations")" class="dropdown-item">Invite Member</a>
                                    <a href="@Url.Action("Edit", "Households")" class="dropdown-item">Settings</a>
                                    <a href="@Url.Action("Create", "Invitations")" class="dropdown-item">Add Transaction</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-9 col-sm-6 col-xs-12">
                    <div class="header-right-info">
                        <ul class="nav navbar-nav mai-top-nav header-right-menu">

                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-bell-o" aria-hidden="true"></i><span class="indicator-nt"></span></a>
                                <div role="menu" class="notification-author dropdown-menu animated flipInX">
                                    <div class="notification-single-top">
                                        <h1>Notifications</h1>
                                    </div>
                                    <ul class="notification-menu">

                                        <li>
                                            <a href="#">
                                                <div class="notification-icon">
                                                    <span class="fa fa-remove"></span>
                                                </div>
                                                <div class="notification-content">
                                                    <span class="notification-date">16 Sept</span>
                                                    <h2>Sulaiman din</h2>
                                                    <p>Please done this project as soon possible.</p>
                                                </div>
                                            </a>
                                        </li>

                                    </ul>
                                    <div class="notification-view">
                                        <a href="#">View All Notification</a>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item textsmall">
                                <a href="#" data-toggle="dropdown">

                                    <img src="@UserHelper.GetAvatarPath()" width="20" class="img-circle" />  <span class="textsmall">@UserHelper.GetUserFirstName()</span>  <span><i class="fa fa-angle-down"></i></span>

                                </a>
                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                    <li>
                                        <a href="#"><i class="fa fa-location-arrow"></i> <span>@UserHelper.GetUserEmail()</span></a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("MyProfile", "Manage")"><i class="fa fa-hand-o-right"></i> <span>My Profile</span></a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("CustomLogOff", "Account")"><i class="fa fa-hand-o-right"></i> <span>Log Out</span></a>
                                    </li>


                                </ul>
                            </li>

                            <li class="nav-item nav-setting-open">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-tasks"></i></a>

                                <div role="menu" class="admintab-wrap menu-setting-wrap menu-setting-wrap-bg dropdown-menu animated flipInX">
                                    <ul class="nav nav-tabs custon-set-tab">
                                        <li class="active">
                                            <a data-toggle="tab" href="#Projects">Households</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#Notes">Notes</a>
                                        </li>

                                        <li>
                                            <a data-toggle="tab" href="#Settings">Settings</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="Projects" class="tab-pane fade">
                                            <div class="projects-settings-wrap">
                                                <div class="note-heading-indicate">
                                                    <h2><i class="fa fa-cube"></i>Households</h2>
                                                    <p> You have 20 projects. 5 not completed.</p>
                                                </div>
                                                <div class="project-st-list-area project-st-menu-scrollbar">
                                                    <ul class="projects-st-menu-list">
                                                        <li>
                                                            <a href="#">
                                                                <div class="project-list-flow">
                                                                    <div class="projects-st-heading">
                                                                        <h2>Web Development</h2>
                                                                        <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                        <span class="project-st-time">1 hours ago</span>
                                                                    </div>
                                                                    <div class="projects-st-content">
                                                                        <p>Completion with: 28%</p>
                                                                        <div class="progress progress-mini">
                                                                            <div style="width: 28%;" class="progress-bar progress-bar-danger"></div>
                                                                        </div>
                                                                        <p>Project end: 4:00 pm - 12.06.2014</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Header top area end-->
   

    <!-- Main Menu area start-->
@*<div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs custom-menu-wrap">
                        <li class="active">
                            <a data-toggle="tab" href="#Home"><h5><i class="fa fa-home"></i></h5></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#Household">Household</a>
                        </li>


                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div id="Home" class="tab-pane in active tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">

                               <li>
                                   <h2 class="fontstyle1">Welcome To The Lobby of Financial Portal</h2>
                               </li>
                            </ul>
                        </div>
                        <div id="Household" class="tab-pane tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                               
                                <li>
                                    <a href="@Url.Action("Create","Households")">Create Household</a>
                                </li>
                                <li>
                                    <a href="#">Join Household</a>
                                </li>
                             

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- Main Menu area End-->

    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li>
                                    <a data-toggle="collapse" data-target="#Homemob" href="#">Home <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Homemob" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="@Url.Action("Dashboard", "Home")">Dashboard</a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Create", "Households")">Create Household</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Create", "Invitations")">Invite Member</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Create", "Transactions")">Create Transaction</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#Profilemob" href="#">My Profile<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Profilemob" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="inbox.html">View</a>
                                        </li>
                                        <li>
                                            <a href="view-mail.html">Change Password</a>
                                        </li>
                                        <li>
                                            <a href="compose-mail.html">Change Info</a>
                                        </li>
                                        <li>
                                            <a href="compose-mail.html">Change Profile Picture</a>
                                        </li>
                                    </ul>
                                </li>


                                <li>
                                    <a data-toggle="collapse" data-target="#Chartsmob" href="#">Charts <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Chartsmob" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="#">Bar Charts</a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#Tablesmob" href="#">Tables <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Tablesmob" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="#">Static Table</a>
                                        </li>
                                        <li>
                                            <a href="#">Data Table</a>
                                        </li>
                                    </ul>
                                </li>



                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->

    @RenderBody()




    <!-- jquery
        ============================================ -->

    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/Scripts/jquery.meanmenu.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->

    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sticky JS
        ============================================ -->

    <script src="~/Scripts/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->

    <script src="~/Scripts/jquery.scrollUp.min.js"></script>

    <!-- main JS
        ============================================ -->

    <script src="~/Scripts/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
