@using Project_4.Models;
@using Project_4.Helpers;
@using Project_4.Extensions;
@using Microsoft.AspNet.Identity
@{
    var currentUserId = HttpContext.Current.User.Identity.GetUserId();
    ApplicationDbContext db = new ApplicationDbContext();
    var currentUser = db.Users.Find(currentUserId);
    HouseholdHelper householdHelper = new HouseholdHelper();
    RoleHelper roleHelper = new RoleHelper();
    UserHelper userHelper = new UserHelper();


}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.jpg">
    <!-- Google Fonts
        ============================================ -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS
        ============================================ -->

    <link href="~/Contents/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS
        ============================================ -->
    <link href="~/Contents/font-awesome.min.css" rel="stylesheet" />
    <!-- adminpro icon CSS
        ============================================ -->
    <link href="~/Contents/adminpro-custon-icon.css" rel="stylesheet" />
    <!-- meanmenu icon CSS
        ============================================ -->
    <link href="~/Contents/meanmenu.min.css" rel="stylesheet" />
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link href="~/Contents/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- animate CSS
        ============================================ -->
    <link href="~/Contents/animate.css" rel="stylesheet" />
    <!-- normalize CSS
        ============================================ -->
    <link href="~/Contents/modals.css" rel="stylesheet" />
    <link href="~/Contents/normalize.css" rel="stylesheet" />
    <link href="~/Contents/accordions.css" rel="stylesheet" />

    <!-- charts CSS
        ============================================ -->
    <link href="~/Contents/charts.css" rel="stylesheet" />
    <link href="~/Contents/c3.min.css" rel="stylesheet" />
    <!-- style CSS
        ============================================ -->
    <link href="~/Contents/style.css" rel="stylesheet" />
    <!-- responsive CSS
        ============================================ -->

    <link href="~/Contents/responsive.css" rel="stylesheet" />
    <!-- modernizr JS
        ============================================ -->
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!-- Header top area start-->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="admin-logo">
                        <a href="#">
                            <img src="~/Images/pig2.png" class="img-circle" width="40" alt="" />
                            <span class="h4">𝖋𝖎𝖓𝖆𝖓𝖈𝖎𝖆𝖑 𝖕𝖔𝖗𝖙𝖆𝖑</span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-5 col-sm-0 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav mai-top-nav">
                            <li class="nav-item">
                                <a href="@Url.Action("Dashboard", "Households")" class="nav-link">Dashboard</a>
                            </li>


                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">My Household<span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span></a>
                                <div role="menu" class="dropdown-menu animated flipInX">
                                    @if (User.IsInRole("HouseholdHead"))
                                    {
                                        <a href="@Url.Action("Create", "Invitations")" class="dropdown-item">Invite Member</a>

                                    }
                                    <a href="@Url.Action("Index", "Transactions")" class="dropdown-item">All Transactions</a>
                                    <a href="@Url.Action("Create", "Transactions")" class="dropdown-item">Add Transaction</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-9 col-sm-6 col-xs-12">
                    <div class="header-right-info">
                        <ul class="nav navbar-nav mai-top-nav header-right-menu">

                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-bell-o" aria-hidden="true"></i><span class="badge">@TransactionsExtension.GetUnreadNotifications().Count()</span></a>
                                <div role="menu" class="notification-author dropdown-menu animated flipInX">
                                    <div class="notification-single-top">
                                        <h1>Notifications</h1>
                                    </div>

                                    <ul class="notification-menu">
                                        @if (TransactionsExtension.GetUnreadNotifications().Count() != 0)
                                        {
                                            foreach (var unreadNotification in TransactionsExtension.GetUnreadNotifications())
                                            {
                                                <li style="padding:20px;">

                                                    @using (Html.BeginForm("Dismiss", "Notifications", FormMethod.Get, new { @id = "dismissForm" }))
                                                    {

                                                        @Html.AntiForgeryToken()

                                                        @Html.Hidden("id", unreadNotification.Id)

                                                        <button type="submit" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times"></i></button>
                                                        <a href="#">
                                                            <div class="notification-content">
                                                                <span class="notification-date"></span>
                                                                <h2>@unreadNotification.Subject</h2>
                                                                <p>@unreadNotification.Body</p>
                                                            </div>
                                                        </a>
                                                    }

                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="#">
                                                    <div class="notification-content">
                                                        <span class="notification-date"></span>
                                                        <h2>There are no new Notifications!</h2>

                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                    <div class="notification-view">
                                        <a href="@Url.Action("Index", "Notifications")">View All Notification</a>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item textsmall">
                                <a href="#" data-toggle="dropdown">

                                    <img src="@userHelper.GetAvatarPathTwo()" width="30" class="img-circle" />  <span style="font-size:12px">@userHelper.GetUserFirstNameTwo()</span> <span><i class="fa fa-angle-down"></i></span>

                                </a>
                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                    <li>
                                        <a href="#"><i class="fa fa-info-circle"></i> <span style="font-size:10px">@UserHelper.GetUserEmail()</span></a>
                                    </li>
                                    @if (User.IsInRole("HouseholdHead") || User.IsInRole("Member"))
                                    {
                                        <li>
                                            <a href="#"><i class="fa fa-info-circle"></i> <span>@roleHelper.ListUserRoles(UserHelper.GetUserId().Id).ToList()[0]</span></a>
                                        </li>

                                    }
                                    else
                                    {
                                        <li>
                                            <a href="#"><i class="fa fa-location-arrow"></i> <span>Guest</span></a>
                                        </li>

                                    }

                                    <li>
                                        <a href="@Url.Action("MyProfile", "Manage")"><i class="fa fa-hand-o-right"></i> <span>My Profile</span></a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("CustomLogOff", "Account")"><i class="fa fa-hand-o-right"></i> <span>Log Out</span></a>
                                    </li>
                                    @if (User.IsInRole("HouseholdHead") || User.IsInRole("Member"))
                                    {
                                        <li>
                                            <a class="Alert Alert-color" href="#" data-toggle="modal" data-target="#AlertModalftblack"><i class="fa fa-hand-o-right"></i> <span>Leave Household</span></a>

                                        </li>


                                    }




                                </ul>
                            </li>

                            <li class="nav-item nav-setting-open">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-tasks"></i></a>

                                <div role="menu" class="admintab-wrap menu-setting-wrap menu-setting-wrap-bg dropdown-menu animated flipInX">
                                    <ul class="nav nav-tabs custon-set-tab">
                                        <li class="active">
                                            <a data-toggle="tab" href="#Household">Household</a>
                                        </li>

                                        <li>
                                            <a data-toggle="tab" href="#Settings">Settings</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="Household" class="tab-pane fade in active">

                                            <div class="projects-settings-wrap">
                                                <div class="note-heading-indicate">
                                                    <h2><i class="fa fa-home"></i> Households</h2>
                                                    <p>Total Members on House: @householdHelper.ListMembersOnHouse(householdHelper.GetMyHouse().Id).Count()</p>

                                                </div>
                                                <div class="project-st-list-area project-st-menu-scrollbar">
                                                    <ul class="projects-st-menu-list">
                                                        <li>
                                                            <a href="#">
                                                                <div class="project-list-flow">
                                                                    <div class="projects-st-heading">
                                                                        <h2>@householdHelper.GetMyHouse().Name</h2>
                                                                        <p> This Household was created by @roleHelper.UsersInRole("HouseholdHead").FirstOrDefault().FullName</p>
                                                                        <span class="project-st-time">@householdHelper.GetMyHouse().Created.ToShortDateString()</span>
                                                                    </div>

                                                                    <div class="projects-st-content">
                                                                        <p>Household Setup Completion</p>
                                                                        <div class="progress progress-mini">
                                                                            <div style="width: 75%;" class="progress-bar progress-bar-danger"></div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="projects-st-heading mg-t-50">
                                                                        <h2>Your Contribution</h2>
                                                                        <p>Total BankAccounts: @householdHelper.GetMyHouse().BankAccounts.Where(b => b.OwnerId == currentUserId).Count()</p>
                                                                        <p>Total Transactions: @householdHelper.GetMyHouse().BankAccounts.Where(b => b.OwnerId == currentUserId).SelectMany(b => b.Transactions).Count()</p>
                                                                        <p>Total BudegtCategories: @householdHelper.GetMyHouse().Budgets.Where(b => b.OwnerId == currentUserId).Count()</p>
                                                                        <p>Total BudegtItems: @householdHelper.GetMyHouse().Budgets.Where(b => b.OwnerId == currentUserId).SelectMany(b => b.BudgetItems).Count()</p>
                                                                       

                                                                    </div>
                                                                  
                                                                </div>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>


                                        </div>

                                        <div id="Settings" class="tab-pane fade">
                                            <div class="setting-panel-area">
                                                <div class="note-heading-indicate">
                                                    <h2><i class="fa fa-gears"></i> Settings Panel</h2>

                                                </div>
                                                <ul class="setting-panel-list">
                                                    <li>
                                                        <div class="checkbox-setting-pro">
                                                            <div class="checkbox-title-pro">
                                                                <h2>Household Name</h2>
                                                                <div class="ts-custom-check">
                                                                    <a href="@Url.Action("Edit", "Households")">
                                                                        <span class="btn btn-sm btn-danger mg-b-30" id="showmyBtn">Change</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="checkbox-setting-pro">
                                                            <div class="checkbox-title-pro">
                                                                <h2>Household Greeting</h2>
                                                                <div class="ts-custom-check">
                                                                    <a href="@Url.Action("Edit", "Households")">
                                                                        <span class="btn btn-sm btn-danger mg-b-30" id="showmyBtn">Change</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="checkbox-setting-pro">
                                                            <div class="checkbox-title-pro">
                                                                <h2>BankAccounts</h2>
                                                                <div class="ts-custom-check">
                                                                    <a href="@Url.Action("Index", "BankAccounts")">
                                                                        <span class="btn btn-sm btn-danger mg-b-30" id="showmyBtn">Settings</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>


                                                    <li>
                                                        <div class="checkbox-setting-pro">
                                                            <div class="checkbox-title-pro">
                                                                <h2>Budgets Categories</h2>
                                                                <div class="ts-custom-check">
                                                                    <a href="@Url.Action("Index", "Budgets")">
                                                                        <span class="btn btn-sm btn-danger mg-b-30" id="showmyBtn">Settings</span>
                                                                    </a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>


                                                    <li>
                                                        <div class="checkbox-setting-pro">
                                                            <div class="checkbox-title-pro">
                                                                <h2>BudgetItems</h2>
                                                                <div class="ts-custom-check">
                                                                    <a href="@Url.Action("Index", "BudgetItems")">
                                                                        <span class="btn btn-sm btn-danger mg-b-30" id="showmyBtn">Settings</span>
                                                                    </a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="AlertModalftblack" class="modal modal-adminpro-general FullColor-popup-AlertModal PrimaryModal-bgcolor fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-close-area modal-close-df">
                    <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                </div>
                <div class="modal-body">
                    <span class="dminpro-warning modal-check-pro information-icon-pro"></span>
                    <h2>Are you sure to Leave this Household??</h2>
                    <p><span><i class=" fa fa-warning"></i></span>You cannot undo the changes once they occur!</p>
                </div>
                <div class="modal-footer footer-modal-admin">
                    <a data-dismiss="modal" href="#">Cancel</a>
                    <a href="@Url.Action("LeaveHousehold", "Households")">Process</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Header top area end-->
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li>
                                    <a data-toggle="collapse" data-target="#Homemob" href="#">Home <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Homemob" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="@Url.Action("Dashboard", "Households")">Dashboard</a>
                                        </li>


                                        @if (User.IsInRole("HouseholdHead"))
                                        {
                                            <li>
                                                <a href="@Url.Action("Create", "Invitations")">Invite Member</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("RemoveMember", "Households")">Remove Member</a>
                                            </li>

                                        }
                                        <li>
                                            <a href="@Url.Action("Create", "Transactions")">Add Transaction</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("AllTransactions", "Transactions")">All Transactions</a>
                                        </li>

                                    </ul>
                                </li>


                                <li>
                                    <a data-toggle="collapse" data-target="bank" href="#">BankAccounts<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="bank" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="@Url.Action("Index", "BankAccounts")">MyAccounts</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Create","BankAccounts")">Add New BankAccount</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","Transactions")">My Transactions</a>
                                        </li>

                                    </ul>
                                </li>


                                <li>
                                    <a data-toggle="collapse" data-target="#Chartsmob" href="#">Budgets <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Chartsmob" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="@Url.Action("Index", "Budgets")">All Categories</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Create", "Budgets")">Add New Category</a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#Tablesmob" href="#">Budget Items <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Tablesmob" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="@Url.Action("Index", "BudgetItems")">All BudgetItems</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Create", "BudgetItems")">Create BudgetItem</a>
                                        </li>
                                    </ul>
                                </li>




                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->


    @RenderBody()




    <!-- jquery
        ============================================ -->

    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/Scripts/jquery.meanmenu.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->

    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sticky JS
        ============================================ -->

    <script src="~/Scripts/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->

    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/modal-active.js"></script>
    <!-- main JS
        ============================================ -->

    <script src="~/Scripts/main.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script>


        $(document).ready(function () {
            $('#dataTable').DataTable(
                {
                    dom: 'Bfrtip',
                    buttons: [
                        'excel', 'pdf', 'print'
                    ],
                    pageLength: 10,
                    "scrollX": true
                });


        });
    </script>


    @RenderSection("Scripts", required: false)
</body>

</html>
