@model Project_4.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
     Layout = null;
}



<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <!-- Google Fonts
        ============================================ -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link href="~/Contents/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS
        ============================================ -->

    <link href="~/Contents/font-awesome.min.css" rel="stylesheet" />
    <!-- adminpro icon CSS
        ============================================ -->
    <link href="~/Contents/adminpro-custon-icon.css" rel="stylesheet" />
    <!-- meanmenu icon CSS
        ============================================ -->

    <link href="~/Contents/meanmenu.min.css" rel="stylesheet" />
    <!-- mCustomScrollbar CSS
        ============================================ -->

    <link href="~/Contents/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- animate CSS
        ============================================ -->
    <link href="~/Contents/" rel="stylesheet" />
    <!-- normalize CSS
        ============================================ -->

    <link href="~/Contents/normalize.css" rel="stylesheet" />

    <!-- form CSS
        ============================================ -->
    <link href="~/Contents/form.css" rel="stylesheet" />
    <!-- style CSS
        ============================================ -->

    <link href="~/Contents/style.css" rel="stylesheet" />
    <!-- responsive CSS
        ============================================ -->

    <link href="~/Contents/responsive.css" rel="stylesheet" />
    <!-- modernizr JS
        ============================================ -->

    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>
</head>

<body>

    <!-- Register Start-->
    <div class="login-form-area mg-t-30 mg-b-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "adminpro-form", id = "adminpro-register-form", enctype = "Multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="col-lg-6">
                        <div class="login-bg">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="logo">
                                        <a><img src="~/Images/logo.png" width="100" height="100" class="img-circle" alt="login" /></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="login-title">
                                        <h1>New Users Registration Form!</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="login-input-head">
                                        <p>Full Name</p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="login-input-area register-mg-rt">
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "login-input-area register-mg-rt" })
                                                <i class="fa fa-user login-user"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="login-input-area register-mg-rt">
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "login-input-area register-mg-rt" })
                                                <i class="fa fa-user login-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="login-input-head">
                                        <p>DisplayName</p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-input-area">
                                        @Html.TextBoxFor(m => m.DisplayName, new { @class = "login-input-area" })
                                        <i class="fa fa-user login-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="login-input-head">
                                        <p>Email Address</p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-input-area">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "login-input-area" })
                                        <i class="fa fa-envelope login-user" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="login-input-head">
                                        <p>Password</p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-input-area">
                                        @Html.PasswordFor(m => m.Password, new { @class = "login-input-area" })
                                        <i class="fa fa-lock login-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="login-input-head">
                                        <p>Confarm Password</p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-input-area">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "login-input-area" })
                                        <i class="fa fa-lock login-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="login-input-head">
                                        <p>Upload Avatar</p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>
                                        <i class="fa fa-user login-user"></i>
                                        @Html.TextBox("Avatar", null, new { type = "file" })

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <div class="login-button-pro">
                                        <button type="submit" class="login-button login-button-rg">Log In</button>
                                        <button type="submit" class="login-button login-button-lg">Register</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
    <!-- Register End-->
    <!-- Footer Start-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright &#169; 2019.Made With All Regards.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
    <!-- jquery
        ============================================ -->

    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->

    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->

    <script src="~/Scripts/jquery.meanmenu.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->

    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/Scripts/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <!-- form validate JS
        ============================================ -->
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/form-active.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/Scripts/main.js"></script>

</body>

</html>
