
@model Project_4.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = null;
}

<!doctype html>
<html class="fixed">
<head>


    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" href="~/Images/favicon.jpg" />

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <link href="~/Contents/bootstrap.min.css" rel="stylesheet" />

</head>

<body>
    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            <div class="panel">
                <div class="panel-heading">
                    <h1>@ViewBag.Title!</h1>
                </div>

                <div class="panel-body">


                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <h2>Enter your email below to get a link to reset your password.....</h2>

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)
                        <div class="row">
                            <div class="col-md-1 text-left">
                                <h3>@Html.LabelFor(m => m.Email)</h3>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 text-left">
                                <h3>@Html.LabelFor(m => m.Password)</h3>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 text-left">
                                <h3>@Html.LabelFor(m => m.ConfirmPassword)</h3>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-2" style="padding-top:10px">

                                <button class="btn btn-danger btn-block">Reset</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>



