@model IEnumerable<Project_4.Models.Invitation>

@{
    ViewBag.Title = "Index";
}

    <div class="row" style="padding:40px">
        <div class="col-md-12">
            <h2>All Invitations</h2>
            <table class="table">
                <tr>
                   
                    <th>
                        Receipent Email
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Body)
                    </th>
                    <th>
                       Invited Date
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TTL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsValid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>Options</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceipentEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TTL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsValid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                          
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>



        </div>
    </div>



