@model IEnumerable<Project_4.Models.Transaction>

@{
    ViewBag.Title = "AllTransactions";
}

<!-- Data table area Start-->
<div class="admin-dashone-data-table-area pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline8-list shadow-reset">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>All Transactions</h1>
                            <div class="sparkline8-outline-icon">
                                <span class="sparkline8-collapse-link"><i class="fa fa-chevron-up"></i></span>

                                <span class="sparkline8-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">

                            <table id="dataTable" class="table-striped table-bordered" style="width:100%">

                                <thead>
                                    <tr style="line-height:40px">
                                        <th>
                                            Owner
                                        </th>
                                        <th>
                                            TransType
                                        </th>
                                        <th>
                                            Item
                                        </th>


                                        <th>
                                            @Html.DisplayNameFor(model => model.Amount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Memo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Created)
                                        </th>

                                    </tr>

                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                    <tr style="line-height:30px">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Owner.FirstName)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.TransactionType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BudgetItem.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Memo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </td>

                                      
                                    </tr>


                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data table area End-->
