@model UserProfileViewModel
@using Project_4.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Project_4.Helpers;



@*<div class="row">

    <div class="col-md-4">
      
        <section class="panel">
            <div class="panel-body">
                <div class="thumb-info">
                    <img src="@UserHelper.GetAvatarPath()" class="rounded img-responsive" alt="Profile Picture">
                    <div class="thumb-info">
                        <span class="thumb-info-inner">@UserHelper.GetUserFirstName()</span>

                    </div>
                </div>

      

                <hr class="dotted short">

                <div class="sparkline16-outline-icon">
                    <a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                    <a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                    <a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                </div>

            </div>
        </section>

    </div>
    <div class="col-md-8 col-lg-6">
        <h2 class="text-success">@ViewBag.StatusMessage</h2>

        <div class="tabs">
            <ul class="nav nav-tabs tabs-primary">
                <li class="active">
                    <a href="#overview" data-toggle="tab">Change Personal Information</a>
                </li>
                <li>
                    <a href="#edit" data-toggle="tab">Change Password</a>
                </li>

            </ul>
            <div class="tab-content">
                change personal information
                <div id="overview" class="tab-pane active">

                    @using (Html.BeginForm("MyProfile", "Manage", FormMethod.Post, new { style = "width:90%;" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <h4 class="mb-xlg">Personal Information</h4>
                        <fieldset>
                            <h2 class="text-success">@ViewBag.StatusMessage</h2>
                            <div class="form-group">
                                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(m => m.FirstName, new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(m => m.LastName, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.DisplayName, new { @class = "col-md-3 control-label" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(m => m.DisplayName, new { @class = "form-control" })
                                </div>
                            </div>
                        </fieldset>
                        <hr class="dotted">
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-3 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Submit</button>

                                </div>
                            </div>
                        </div>
                    }
                </div>
                change password information
              
            </div>
        </div>
    </div>
</div>*@

