@model Project_4.Models.BankAccount

@{
    ViewBag.Title = "Delete";
}

<div class="row" style="padding:40px">
    <div class="col-md-8">
        <h2>Delete Bank Account??</h2>
        <div>
            
            <hr />
            <dl class="dl-horizontal">
                <dt>
                   Household:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Household.Name)
                </dd>

                <dt>
                    Created By:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Owner.FirstName)
                </dd>

                <dt>
                   Account Type:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AccountType)
                </dd>

                <dt>
                    Bank Account:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                   Starting Balance:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartingBalance)
                </dd>

                <dt>
                  Current Balance:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CurrentBalance)
                </dd>

                <dt>
                    Created:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color" style=" padding-left:80px">
                    <input type="submit" value="Delete" class="btn btn-danger" />  |    <span class="btn btn-default">@Html.ActionLink("Cancel", "Index")</span>

                </div>
            }
        </div>



    </div>
</div>





