@model IEnumerable<Project_4.Models.BankAccount>

@{
    ViewBag.Title = "Index";
}

<!-- Data table area Start-->
<div class="admin-dashone-data-table-area pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline8-list shadow-reset">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>My Bank Accounts</h1>
                            <div class="sparkline8-outline-icon">
                                <span class="sparkline8-collapse-link"><i class="fa fa-chevron-up"></i></span>

                                <span class="sparkline8-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">

                            <table id="dataTable" class="table-hover table-striped table-bordered" style="width:100%">

                                <thead>
                                    <tr style="line-height:40px">
                                       
                                       
                                        <th>
                                            @Html.DisplayNameFor(model => model.AccountType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StartingBalance)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CurrentBalance)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Created)
                                        </th>
                                        <th>Options</th>
                                    </tr>


                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr style="line-height:30px">
                                           
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccountType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StartingBalance)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CurrentBalance)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Created)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                            </td>
                                        </tr>


                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data table area End-->









