@model IEnumerable<Project_4.Models.Notification>

@{
    ViewBag.Title = "Index";
}

<div class="row" style="padding:40px">
    <div class="col-md-12">
        <h2>All Notifications</h2>
        <table class="table">
            <tr>



                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    Notification
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRead)
                </th>

                <th>
                    Received On
                </th>
                <th>Options</th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>



            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>

                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
            }

        </table>


    </div>
</div>



